{% extends "layout.html" %}
{% block body %}

{% macro static_content(t) %}
{% if content and t in content %}
  {% for item in content[t] %}
    {% if '_source' in item %}
      {% set entry = item['_source'] %}
      <div class="{{ t }}line">
        {% set date = entry['date'] + 'T' + entry['time'] %}
        [<a href="/#!date={{ entry['date'] }}">{{ date }}</a>]
        &lt;<a href="/#!nick={{ entry['nick'] }}">{{ entry['nick'] }}</a>&gt;
        {{ entry['line'] }}&nbsp;
        {% for tag in entry['tags'] -%}
          <a href="/#!tags={{ tag }}">#{{ tag }}</a>&nbsp;
        {%- endfor %} <!-- tags -->
        {% for url in entry['urls'] -%}
          <a href="{{ url }}">{{ url }}</a>&nbsp;
        {%- endfor %} <!-- urls -->
      </div>
    {% endif %} <!-- if _source -->
  {% endfor %} <!-- for item -->
{% endif %}
{% endmacro %}

<div class="container-fluid fullheight">
  <div class="row mainheight">
    <div class="col-xs-12 col-md-8 fullheight">
      <h6>
        <div id="irchead">
          <span id="topic" data-toggle="tooltip" data-placement="bottom" title="">
          </span>
          <span id="backtolive" class="pull-right label label-danger">
            <a href="/">
              <span class="glyphicon glyphicon-backward"></span>
              Retour au live
            </a>
          </span>
        </div>
      </h6>
      <div class="well well-sm irclive">
        {{ static_content('irc') }}
        {# include 'irclive-ad.html' #}
      </div>
    </div>
    <div class="col-xs-12 col-md-4 fullheight">
      <h6 id="lotd">Links of the day <small>pas forc&eacute;ment</small>
      <a href="http://fr.wikipedia.org/wiki/Not_Safe_for_Work">SFW</a>
      <a class="pull-right" href="{{ url_for('atomfeed') }}">
        <img src="{{ url_for('images', filename='logo_rss_small.png') }}">
      </a>
      </h6>
      <div class="list-group urllive">
        {{ static_content('url') }}
      </div>
    </div> <!-- lotd -->
  </div> <!-- main row -->
</div> <!-- container -->

{% endblock %}
